<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
	<header>
		<h1>Welcome to Daniel Kim's Coding Challenge for Passport</h1>
		<nav>
<!-- 			<ul>
					<a href="/roots">Roots</a><br>
					<a href="/authors">Authors</a><br>
					<a href="/articles">Articles</a>

			</ul> -->
		</nav>
	</header>
</body>
</html>